<div class="frow">
    <div class="col col1">
        <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col col2">
        <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col col3">
        <span>
            <h2>Acerca de mí</h2>
            <p>Soy un programador con conocimientos en encriptación Post-Quántica, Computación Quántica e Inteligencia Artificial.</p>
        </span>
    </div>
</div> 